
<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Arkadiusz Sowa", "https://www.youtube.com/watch?v=d1YBv2mWll0", class: "text-white" %></small>

  </div>
</footer>
